@* @using QFX.data;
@using QFX.ViewModels.PublicVm;
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext _context;
@inject QFX.Provider.Interface.ICurrentUserProvider currentUserProvider;

@{
    var currentUserId = currentUserProvider.GetCurrentUserId();
    var vm = new IndexVm();
    vm.Locations = await _context.Locations.ToListAsync();
    // Get data from session
    // if found, use vm.LocationId = data from session
    // else if logged in, do from database like below
    vm.LocationID = await _context.UserLocationPreferences.Where(x => x.UserId == currentUserId).Select(x => x.LocationId)
    .FirstOrDefaultAsync();

}
<form method="post" action="/public/Location/Select">
    <select id="resizing_select" style="background:#3b5d50 ; font-size:14px; color: #ffffff !important; opacity: 0.5;"
        class="border-0 mx-auto my-auto" aria-label="Default select example" name="LocationId"
        asp-items="@vm.LocationList()" id="change-location">
        <option selected disabled>Select a genre</option>
    </select>
</form>
<script>
    function clickButton(){
        document.getElementById("myButton").click();
    }
</script> *@