<!-- /*
* Bootstrap 5
* Template Name: Furni
* Template Author: Untree.co
* Template URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
@inject QFX.Provider.Interface.ICurrentUserProvider _currentUserProvider
@{
    var currentUser = await _currentUserProvider.GetCurrentUser();
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="../favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap /Public/css -->
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn/Public/js.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        rel="stylesheet">
    <link href="/Public/css/tiny-slider.css" rel="stylesheet">
    <link href="/Public/css/style.css" rel="stylesheet">
    <title>QFX Cinema </title>
    <style>
        #movieDropdown {
            display: none;
            position: absolute;
            background-color: #3b5d50;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        #movieDropdown a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        #movieDropdown a:hover {
            background-color: #3b6a58;
        }

        #dropdown:hover #movieDropdown {
            display: block;
        }

        #dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar  sticky-top navbar navbar navbar-expand-md navbar-dark bg-dark"
        arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" asp-action="Index" asp-controller="Public"><span
                    style="color: #D4D925;opacity:1.0">Q</span>FX<span>
                    Cinemas</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active my-auto">

                        @* <select id="resizing_select" style="background:#3b5d50 ; font-size:14px; color: #ffffff
                        !important; opacity: 0.5;"
                        class="border-0 mx-auto my-auto" aria-label="Default select example" asp-for="LocationID"
                        asp-items="@Model.LocationList()">
                        <option selected disabled>Select a genre</option>
                        </select> *@
                        <partial name="_HomeSelect" />


                    </li>
                    <li style="margin-top:10px; margin-bottom:12px;">
                        @* <a class="nav-link" href="shop.html">Movie</a> *@
                        <div id="dropdown" class="nav-item dropdown">
                            <a style="text-decoration: none;" class="dropdown-toggle my-auto" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Movie
                            </a>

                            <div id="movieDropdown" class="dropdown-menu  dropdown-menu-end dropdown-menu-arrow">
                                <a class="dropdown-item text-dark" asp-action="NowShowing">Now Showing</a>
                                <a class="dropdown-item text-dark" asp-action="ComingSoon">Coming Soon</a>
                            </div>
                        </div>

                    </li>
                    <li><a class="nav-link" href="https://forms.gle/YNRajzhxdxaj5reKA">Customer Service</a></li>
                    <li><a class="nav-link" href="services.html">Club QFX</a></li>
                    <li><a class="nav-link" href="blog.html">More</a></li>
                    @* <li><a class="nav-link" href="contact.html">Contact us</a></li> *@
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    @* <li><a class="nav-link" asp-action="Login" asp-controller="Auth" asp-area="Admin"><img
                    src="/Public/images/user.svg"></a></li> *@
                    @* <li><a class="nav-link" href="cart.html"><img src="/Public/images/cart.svg"></a></li> *@
                    <li style="margin-top:12px; margin-bottom:12px;">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0 pl-3" data-bs-toggle="dropdown"
                                aria-label="Open user menu">
                                <img src="/Public/images/user.svg">
                                <span class="avatar avatar-sm"
                                    style="background-image: url(/assets/static/avatars/000m.jpg)">

                                </span>

                                <div class="d-none d-xl-block ps-2 m-auto">

                                    <div>
                                        <div class="d-flex gap-2 align-items-center justify-content-center">
                                            <span class="text-white">
                                                @currentUser?.Name
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <div class="mt-1 small text-muted">
                                    <img src="/Public/images/user.svg">
                                </div>
                                <a asp-action="Index" asp-controller="Profile" asp-area="Public" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-person" viewBox="0 0 16 16">
                                        <path
                                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg> &nbsp;
                                    My Profile
                                </a>
                                <a asp-action="MyTicket" asp-controller="Public" asp-area="Public"
                                    class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-ticket" viewBox="0 0 16 16">
                                        <path
                                            d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5z" />
                                    </svg>&nbsp;&nbsp;&nbsp;
                                    My Ticket
                                </a>
                                <div class="dropdown-divider"></div>
                                @{

                                    if (currentUser == null)
                                    {
                                        <a asp-action="Login" asp-controller="Auth" asp-area="Admin" class="dropdown-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                            </svg>&nbsp; &nbsp; Log-in
                                        </a>

                                    }
                                    else
                                    {

                                        <a asp-action="Logout" asp-controller="Auth" asp-area="Admin" class="dropdown-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                                            </svg> &nbsp; &nbsp;Log-out
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->

    @RenderBody()

    <!-- Start Footer Section -->
    <footer class="footer-section footer">
        <div class="container relative">

            @* <div class="sofa-img">
            <img src="/Public/images/sofa.png" alt="Image" class="img-fluid">
            </div> *@



            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a asp-action="Index" asp-controller="Public"
                            class="footer-logo"><span style="color: #D4D925;opacity:1.0">Q</span>FX<span>
                                Cinemas</span></a></div>
                    <p class="mb-4">QFX Cinemas are pioneers in introducing the latest visual technology, offering
                        outstanding picture quality and first of its kind 4K projection in Nepal.</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Knowledge base</a></li>
                                <li><a href="#">Live chat</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Our team</a></li>
                                <li><a href="#">Leadership</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>

                        <div class="col-6 col-sm-6 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="#">Nordic Chair</a></li>
                                <li><a href="#">Kruzo Aero</a></li>
                                <li><a href="#">Ergonomic Chair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="subscription-form mb-2" style="margin-left: 200px;">
                            <h3 class="d-flex align-items-center"><span class="me-1"><img
                                        src="/Public/images/envelope-outline.svg" alt="Image"
                                        class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                            <form action="#" class="row g-3">
                                <div class="col-auto">
                                    <input type="text" class="form-control" placeholder="Enter your name">
                                </div>
                                <div class="col-auto">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary">
                                        <span class="fa fa-paper-plane"></span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">Copyright &copy;
                            @* <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                            *@
                            Designed with love by <a href="https://github.com/pariveshthulung">Parivesh.Thulung</a>
                            Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>
                            <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->


    <script src="/Public/js/bootstrap.bundle.min./Public/js"></script>
    <script src="/Public/js/tiny-slider./Public/js"></script>
    <script src="/Public/js/custom./Public/js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#resizing_select').change(function () {
                $("#width_tmp_option").html($('#resizing_select option:selected').text());
                $(this).width($("#width_tmp_select").width());
            });
        });
    </script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("scripts", required: false)

</body>

</html>
