@model QFX.ViewModels.UserVm.UpsertVm;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        @* <div class="col-6"> *@
        <form method="post" class="w-25">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" asp-for="Name"></label>
                        <input type="text" asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Email"></label>
                <input type="email" id="check" asp-for="Email" class="form-control" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="PhoneNo"></label>
                <input type="tel" id="check" placeholder="98xxxxxxxx" asp-for="PhoneNo" class="form-control" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Date of Birth</label>
                <input type="date" id="check" asp-for="DateOfBirth" class="form-control" />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Location</label>
                <select asp-for="LocationID" asp-items="@Model.LocationList()" class="form-select ">
                    <option selected><span class="text-mute">Select a Location</span></option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">UserStatus</label>
                <select asp-for="UserStatus" asp-items="@Model.UserStatusList()" class="form-select ">
                    <option selected disabled>Select a UserStatus</option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">UserType</label>
                <select asp-for="UserType" asp-items="@Model.UserTypeList()" class="form-select ">
                    <option selected disabled>Select a UserType</option>
                    @* <option >None</option> *@
                </select>
            </div>

                <div class="col-12 col-md-3 ">
                    <button type="submit" style="width: 150px;" value="Place Order" class="btn btn-primary btn-sm form-control">Update
                        User</button>
                </div>

        </form>
        @* </div> *@
    </div>
</div>

<script>
    $('#password, #confirmPassword').on('keyup', function () {
        if ($('#password').val() == $('#confirmPassword').val()) {
            $('#message').html('Matching').css('color', 'green'),
                document.getElementById('submit').disabled = false;
        } else
            $('#message').html('Not Matching').css('color', 'red'),
                document.getElementById('submit').disabled = true;
    });
</script>