@{
    Layout = "_publicLayout";
}
@model QFX.ViewModels.Auth.ForgetPasswordVm
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        @* @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        } *@
        <form method="post" class="w-25">
            <!-- Email input -->
            @* <h3>Enter registered email</h3> *@
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="ConfirmVerificationCode"></label>
                <input type="text" asp-for="ConfirmVerificationCode" class="form-control "/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Password"></label>
                <input id="password" type="password" asp-for="Password" class="form-control " />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="ConfirmPassword"></label>
                <input id="confirmPassword" type="password" asp-for="ConfirmPassword" class="form-control " />
            </div>

            <!-- submit buttons -->
            <div class="d-flex justify-content-center mb-0">
                <button type="submit" id="submit" class="btn btn-primary btn-block mb-4">Change password</button>
                <br>
                <span id='message'></span>

            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Didn't receive a verification code? <button  class="btn btn-sm m-2" asp-action="ForgetPassword" asp-controller="Auth" asp-area="Admin" asp-route-email="@Model.Email">Resend code</button></p>
            </div>
           
        </form>
    </div>
</div>
<script>
    @* document.getElementById('check').innerText().val() *@
    $('#password, #confirmPassword').on('keyup', function () {
  if ($('#password').val() == $('#confirmPassword').val()) {
    $('#message').html('Matching').css('color', 'green'),
    document.getElementById('submit').disabled = false;
  } else 
    $('#message').html('Not Matching').css('color', 'red'),
    document.getElementById('submit').disabled = true;
});
</script>