@{
    Layout = "_publicLayout";
}
@model QFX.ViewModels.Auth.ForgetPasswordVm
<div class="container mt-5 pt-5">
            <h3 class="text-center mb-5">Enter registered email</h3>

    <div class="row justify-content-center">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }
        <form method="post" class="w-25">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control " required />
            </div>

            <!-- submit buttons -->
            <div class="d-flex justify-content-center mb-0">
                <button type="submit" class="btn btn-primary btn-sm btn-block mb-4">submit</button>
            </div>
        </form>
    </div>
</div>