@{
    Layout = "_publicLayout";
}
@model QFX.ViewModels.Auth.LoginVm
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }
        <form method="post" class="w-25">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" asp-for="Email" class="form-control " required />
                <label class="form-label" asp-for="Email"></label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" asp-for="Password" class="form-control " required />
                <label class="form-label" asp-for="Password"></label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                        <label class="form-check-label" for="form2Example34"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <!-- Simple link -->
                    <a asp-action="ForgetPassword" asp-controller="Auth">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-center mb-0">
                <button type="submit" class="btn btn-primary btn-block mb-4">sign-in</button>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a asp-action="Registration" asp-controller="Auth" asp-area="Admin">Register</a></p>
            </div>
        </form>
    </div>
</div>