@{
    Layout="_publicLayout";
}
@model QFX.ViewModels.Auth.RegistrationVm;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        @* <div class="col-6"> *@
        <form method="post" class="w-25">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" asp-for="Name">Name<span>*</span></label>
                        <input type="text" asp-for="Name" class="form-control" required/>
                    </div>
                </div>
                @* <div class="col">
                    <div class="form-outline">
                        <input type="text" asp-for="LastName" class="form-control" />
                        <label class="form-label" asp-for="LastName"></label>
                    </div>
                </div> *@
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Email">Email <span>*</span></label>
                <input type="email" id="check" asp-for="Email" class="form-control" required/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="PhoneNo">Phone <span>*</span></label>
                <input type="text" id="check" asp-for="PhoneNo" class="form-control" required/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="DateOfBirth"> Date of Birth<span>*</span></label>
                <input type="date" id="check" asp-for="DateOfBirth" class="form-control" required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Password">Password <span>*</span></label>
                <input type="password" asp-for="Password" name="password" id="password" class="form-control" required/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="ConfirmPassword">Confirm Password <span>*</span></label>
                <input type="password" asp-for="ConfirmPassword" name="confirmPassword" id="confirmPassword" class="form-control" />
                <span id='message'></span>
            </div>

            <!-- Checkbox -->
            @* <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
            <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
            </label>
            </div> *@

            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" id="submit" name= "submit" class="btn btn-primary btn-block mb-4" disabled>sign-up</button>
            </div>
            <!-- sign in buttons -->
            <div class="text-center">
                    <p>Already have an account? <a asp-action="LogIn" asp-controller="Auth" asp-area="Admin">sign-in</a></p>
            </div>

            <!-- Register buttons -->
            @* <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div> *@
        </form>
        @* </div> *@
    </div>
</div>

<script>
    @* document.getElementById('check').innerText().val() *@
    $('#password, #confirmPassword').on('keyup', function () {
  if ($('#password').val() == $('#confirmPassword').val()) {
    $('#message').html('Matching').css('color', 'green'),
    document.getElementById('submit').disabled = false;
  } else 
    $('#message').html('Not Matching').css('color', 'red'),
    document.getElementById('submit').disabled = true;
});
</script>