@{
	Layout = "_publicLayout";
}
@model QFX.ViewModels.Reservation.ReservationVm
<div class="row text-center mt-5">
    <h1 class="mt-5">Thank you </h1>
    @* /Users/parivesh.rai/MissionProject/QFX/3.pdf *@
    <a class="my-5" href="file://localhost/Users/parivesh.rai/MissionProject/QFX/3.pdf" download>Download Ticket</a>
</div>